<!DOCTYPE html>
<html ng-app="APP">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Star Wars A New Hope</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/sw_ico2.png"/>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
    <link rel="stylesheet" type="text/css" href="styles/aNewHope.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300" rel="stylesheet">    
    <script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
</head>
<body ng-controller="IndexCtrl">
  <header>
    <div class="sound">
      <span class="base_sound" id="base_sound" onClick="togglePlay()">
        <img id="img_sound" src="" alt="TurnON">
      </span> 
      <audio loop id="base" src="audio/Star_Wars_Soundtrack.mp3"></audio> 
    </div> 
    <div class="logo-content">
      <img src="img/imperial_logo.png" alt="Star Wars">
      <img src="img/Logo.png" alt="Star Wars">
      <img src="img/rebels_logo.png" alt="Star Wars">
    </div>
  </header>
  <section>
   <h1 class="title">Opening Crawl:</h1>
   <div class="description">
     {{ films0.opening_crawl }}
   </div>
   <h1 class="title">Characters:</h1>
   <div class="actors">
    <div class="card" ng-repeat="op in person"> 
      <div class="name" >
        <h1>{{ op.data.name }}</h1>
      </div>
      <div class="info">
        <ul>
          <li><h3>Birth Year:</h3><p>{{ op.data.birth_year }}</p></li>
          <li><h3>Height:</h3><p>{{ op.data.height }}</p></li>
          <li><h3>Gender:</h3><p>{{ op.data.gender }}</p></li>
          <li><h3>Hair Color:</h3><p>{{ op.data.hair_color }}</p></li>
          <li><h3>Mass:</h3><p>{{ op.data.mass }}</p></li>
          <li><h3>Eye Color:</h3><p>{{ op.data.eye_color }}</p></li>
          <li><h3>Skin Color:</h3><p>{{ op.data.skin_color }}</p></li>
          <li><h3>Num Films:</h3><p>{{ op.data.films.length }}</p></li>
        </ul>
      </div>
    </div>
   </div>
  </section>  
  <script src="app.js"></script>
  <script src="controler/ctrl_NewHope.js"></script>
  <script type="text/javascript" src="js/sound.js"></script>
</body>
</html>
<!-- ng-repeat=" persons in films0.characters" -->