* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/img/sw_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.logo-content{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid white;
  position: relative;
}

.sound {
  position: absolute;
  left: 20px;
  z-index: 2;
  /* border: 1px solid red; */
  width: 40px;
}

.main-content {
  margin-top: 100px;
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
}

.film-conteiner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid white;
  width: 70%;
}

.film-conteiner > div {
  margin-right: 10px;
  height: 35em;
  width: 22%;
  padding: 8px;
  border-radius: 3px;
  background-color: #ffffffd7;
}

.film-conteiner > div:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 5px 5px #8d7f00;
}