section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}

.description {
  background-color: #414141a1;
  color: #d4ad00b6;
  width: 100%;
  border-top: 2px solid #ffffffcb;
  border-bottom: 1px solid #ffffffcb;
  font-size: 2.5em;
  text-align: center;
  box-sizing: border-box;
  padding: 35px 120px;
  margin-bottom: 100px;
}

.title {
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 2px 5px 5px black;
  margin-bottom: 10px;
}

.main {
  font-size: 4.4rem;
}

.container#justify {
  height: auto;
}

#justify > .content {
  overflow: hidden;
}

.container {
  height: 700px;
  width: 100%;
  background-color: #414141a1;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  box-shadow: 0px 0px 4px 1px #2c2c2c;
}

.content {
  height: auto;
  width: 70%;
  overflow-y: scroll;
  padding: 30px 80px;
  background-color: #414141c2;
  border-left: 3px solid #120718;
}

.content::-webkit-scrollbar {
  background: #c5c5c5;
}

.content::-webkit-scrollbar-thumb {
  background: #747474;
}

.card {
  min-height: 110px;
  width: 100%;
  background-color: #f7f7f7f8;
  display: flex;
  margin-bottom: 5px;
}

.card:first-child {
  border-radius: 5px 5px 0px 0px;
}

.card:last-child {
  border-radius: 0px 0px 5px 5px;
}

/* .card:nth-child(even) {
  background-color: #d1d1d1f5;
} */

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-right: 1px solid #d4ad00b6;
}

.name > h1 {
  color: black;
}

.info {
  width: 60%;
  box-sizing: border-box;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul > li {
  margin-right:10px;
  margin-bottom: 7px;
  text-align: center;
}

p {
  font-size: 1.3rem;
  color: #5e0000;
}