section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}

.description {
  background-color: #414141c2;
  color: #d4ad00b6;
  height: 280px;
  width: 70%;
  border-radius: 10px;
  border: 2px solid #ffffffcb;
  font-size: 2.5em;
  text-align: center;
  padding: 30px 80px;
  overflow-y: scroll;
  margin-bottom: 100px;
}

.title {
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 2px 5px 5px black;
}

.actors {
  /* background-color: aqua; */
  width: 70%;
  padding: 30px 80px;
  border: 1px solid #ffffffcb;
  border-radius: 10px;
  background-color: #414141c2;
}

.card {
  min-height: 110px;
  width: 100%;
  background-color: #f7f7f7f8;
  display: flex;
  margin-bottom: 5px;
}

.card:first-child {
  border-radius: 5px 5px 0px 0px;
}

.card:last-child {
  border-radius: 0px 0px 5px 5px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-right: 1px solid #d4ad00b6;
}

.name > h1 {
  color: black;
}

.info {
  width: 60%;
  box-sizing: border-box;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul > li {
  margin-right:10px;
  margin-bottom: 7px;
  text-align: center;
}

p {
  font-size: 1.3rem;
  color: #5e0000;
}