* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 9px;
  background: #747474;
}
::-webkit-scrollbar-thumb {
  background: #414141fa;
  border-radius: 15px;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(/img/background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header {
  background-color: #000000;
  padding: 50px 10px;
  position: relative;
  border-bottom: 10px solid #281531;
  margin-bottom: 200px;
  box-shadow: 0px 1px 5px #2c2c2c;
}

.logo-content{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
}

.sound {
  position: absolute;
  top: 8px;
  z-index: 2;
  width: 40px;
}

#img_sound {
  width: 80%;
  height: 80%;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 200;
  color: #ffffff;
}

.main-content {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.film-conteiner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
  box-shadow: 0px 1px 5px #2c2c2c;
}

.film-conteiner > div {
  display: flex;
  flex-direction: column;
  height: 850px;
  width: 14.28%;
}

.film-conteiner > div:hover {
  transform: scale(1.03);
  filter: saturate(2);
  z-index: 3;
  transition: 0.4s;
}

div > a {
  height: 95%;
  width: 100%;
}

div > a > figure {
  width: 100%;
  height: 100%;
  filter: saturate(0.4);
}

div > a > figure > img {
  width: 100%;
  height: 100%;
}

div > .film-title {
  height: 5%;
  color: #d4ad00b6;
  background-color: #272727;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

footer {
  background-color: #000000;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 0px 4px 1px #2c2c2c;
}

.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  height: 90px;
  box-shadow: 0px 0px 2px 1px #4d4d4d;
}

.icon-content {
  height: 50px;
  width: 50px;
  border: 1px solid red;
}